@tailwind base;
@tailwind components;
@tailwind utilities;

#hero {
  background-image: url(./assets/desktop/image-hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

@layer components {
  .btn {
    @apply font-alata my-0 justify-center border-2 border-black px-10 py-2  font-bold uppercase tracking-widest hover:bg-black hover:text-white;
  }
}

.item-container {
  @apply flex w-full flex-col justify-between space-y-6 text-2xl uppercase text-white md:flex-row md:space-x-8 md:space-y-0;
}
@media (max-width: 576px) {
  #hero {
    background-image: url(./assets/mobile/image-hero.jpg);

    background-position: center;
  }
}

.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}
.open {
  transform: rotate(90deg);
}

.open .top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}
.open .middle {
  display: none;
}
.open .bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.top,
.middle,
.bottom {
  position: absolute;
  height: 2px;
  width: 24px;
  top: 0;
  left: 0;
  background: white;
  transform: rotate(0);
  transition: all 0.5s;
}

.middle {
  transform: translateY(7px);
}
.bottom {
  transform: translateY(14px);
}
